body{
font-size:1.5rem;
}

.form {
padding: 25px;
border: 5px solid black;

}
.signicon {
   display: block;
   margin-left: auto;
   margin-right: auto
}

.formheading {
text-align: center;
}
.account-img{
width:120px;
margin:20px;
float: left;
height:150px;
}
.text-floating{
position:relative; top:20px;
}
 a:link{
 text-decoration:none;
 }

