{% extends "base.html" %}


{% block content %}
{% with messages = get_flashed_messages(with_categories = true ) %}

{% for category, message in messages %}
<div class="alert alert-{{category}}">
    {{message}}
</div>

{% endfor %}

{% endwith %}
<div class = 'content-section'>
    <div class="media">
                <img class="rounded-circle account-img" src="{{photo}}">

        <div class="media-body">
           <h2 class="account-heading text-floating"  >{{user.username}}</h2>
        <p class="text-secondary text-floating" >{{user.email}}</p><br>
            <a href="{{url_for('update')}}"> <button class="btn btn-outline-success mt-2">Update </button></a>
            <a href="{{url_for('logout')}}"> <button class="btn btn-outline-success mt-2 " style="margin-left:25px;">Logout </button></a>

        </div>

    </div>
</div>
{% endblock content %}