{% extends "base.html" %}


{% block content %}
{% with messages = get_flashed_messages(with_categories = true) %}
{% for category, message in messages %}
    <div class="alert alert-{{category}}">
        {{message}}
    </div>
{% endfor %}
{% endwith %}




<div class=" mt-2 " style="width:750px; position:relative; left:120px;">
<div class="card">
  <div class="card-header" style="height:10px; color:blue;">
      <h5 style="display:inline-block " >{{ post.author.username }}</h5>
      <small  class="text-muted" >{{ post.posted_date.strftime('%Y-%m-%d')}}</small>
  </div>
  <div class="card-body">
      <img class="rounded-circle article-img account-img" style = 'width:40px; height:40px; margin-left: -10px; margin-top:7px;' src = "{{ photo }}">

    <h3 class="card-title">{{post.title }}</h3>
    <p class="card-text">{{post.content}}</p>
  </div>
    <div class="card-footer">
        <button><a href="{{url_for('update_blog', process_id = post.id)}}" > Update BLog</a></button>
        <button><a href="{{url_for('delete_blog', process_id = post.id)}}" > Delete BLog</a></button>

    </div>
</div>
    </div>


{% endblock content %}